<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            delegate="net.zhangxiaodong.marklogic.launcher.core.XqyLaunchDelegate"
            id="net.zhangxiaodong.marklogic.launcher.core.launchConfigurationType1"
            modes="run"
            name="xquery launcher">
      </launchConfigurationType>
   </extension>


</plugin>
